.App {
  margin: 25px;
}
a {
  text-decoration: none;
  color: inherit;
}
.loader {
  text-align: center;
  font-size: 44px;
  animation: fade 2s ease-in-out infinite;
}
@keyframes fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
    font-size: 30px;
  }
  100% {
    opacity: 1;
    font-size: 44px;
  }
}
::-webkit-scrollbar {
  width: 0.8em;
}
::-webkit-scrollbar-track {
  background: #d5def5;
}
::-webkit-scrollbar-thumb {
  background: #f0fbff;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #d9dad7;
}